<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.gtgs.base.playpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 获取设备名称 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".PApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 设置环信应用的AppKey -->
        <!--测试-->
        <!--<meta-data-->
            <!--android:name="EASEMOB_APPKEY"-->
            <!--android:value="1164170515115835#webcast" />-->
        <!--正式-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1179170426178382#webcast" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.login.RegisterIconActivity" />
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.home.HomeActivity" />
        <activity android:name=".activity.center.CenterActivity" />
        <activity android:name=".activity.center.AnchorApproveActivity" />
        <activity
            android:name=".activity.home.live.HWCodecCameraStreamingActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activity.home.live.PlayActivity" />
        <!-- android:windowSoftInputMode="adjustPan" -->
        <activity android:name=".activity.center.GetCoinActivity" />
        <activity android:name=".activity.home.mymessage.ChatActivity" />
        <activity android:name=".activity.home.mymessage.MessageListActivity" />
        <activity android:name=".activity.center.SettingActivity" />
        <activity android:name=".activity.home.search.SearchActivity" />
        <activity android:name=".activity.center.EdtInfoActivity" />
        <activity android:name=".activity.center.CSActivity"/>
    </application>

</manifest>